:root {
    --c-dark-midnight-blue: #0B3563;
    --c-alice-blue: #E8F2FA;
    --c-old-silver: #858585;
    --c-mango-tango: #FF8732;

    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
}

img {
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    margin: auto;
}

.logo {
    color: var(--c-dark-midnight-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    width: 100%;
}

/* Mobile Button */
#btn-mobile {
    cursor: pointer;
    display: block;
}

#btn-mobile div {
    background: var(--c-dark-midnight-blue);
    border-radius: 9px;
    height: 2px;
    margin: 5px;
    transition: .3s;
    width: 27px;
}

#mobile__nav {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: center;
    left: 0;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    transition: .6s;
    top: 70px;
    visibility: hidden;
    width: 100%;
}

#mobile__nav.active {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(50vh - 70px);
    justify-content: center;
    text-align: center;
    visibility: visible;
}

#btn-mobile.active .line-one {
    transform: rotate(-45deg) translate(-5px, 5px);
}

#btn-mobile.active .line-two {
    opacity: 0;
}

#btn-mobile.active .line-three {
    transform: rotate(45deg) translate(-5px, -5px);
}
/* End mobile button */

.header__menu--link {
    margin-bottom: 2em;
}

.header__menu a {
    color: var(--c-dark-midnight-blue);
    text-decoration: none;
}

.header__menu a:hover {
    color: var(--c-mango-tango);
}

.header__button {
    border: none;
    border: 1px solid var(--c-dark-midnight-blue);
    background: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    padding: 1em 2em;
}

.header__button:hover {
    background: var(--c-mango-tango);
    border: none;
    color: #fff;
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column-reverse;
}

.main__info {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main__image {
    align-items: center;
    display: flex;
    margin: auto;
    width: 90%;
}

.title {
    color: var(--c-dark-midnight-blue);
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.3em;
    margin-top: 1em;
    text-align: center;
    width: 80%;
}

.desc {
    color: var(--c-old-silver);
    line-height: 1.5em;
    margin-top: 1.5em;
    text-align: center;
    width: 80%;
}

.main__button {
    border: none;
    border-radius: 9px;
    background: var(--c-mango-tango);
    color: #fff;
    cursor: pointer;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    padding: 1em;
    width: 50%;
}

.main__button:hover {
    background: none;
    border: 1px solid var(--c-dark-midnight-blue);
    color: var(--c-dark-midnight-blue);
}

.about {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 80%;
}

.about__info {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.services {
    align-items: center;
    border: 2px solid var(--c-alice-blue);
    display: flex;
    flex-direction: column;
    margin: 2.5em auto 2em;
    width: 80%;
}

.services__title {
    margin-bottom: .8em;
    margin-top: .5em;
}

.services__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    width: 80%;
}

.services__icon {
    background: var(--c-alice-blue);
    border-radius: 10px;
    height: 80px;
    padding: 1em;
    width: 80px;
}

.serv__title {
    color: var(--c-dark-midnight-blue);
    font-weight: 500;
    margin-top: 1em;
}

.serv__desc {
    color: var(--c-old-silver);
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    width: 80%;
}

.contact__form input,
.contact__textarea {
    border-radius: 6px;
    border: none;
    background: var(--c-alice-blue);
    font-size: .7rem;
    font-family: var(--font-family);
    margin-bottom: 1em;
    padding: 1em;
}

.contact__textarea {
    width: 100%;
}

.contact__btn {
    background: var(--c-mango-tango);
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: var(--font-family);
    margin-top: 1em;
    padding: 1em;
    width: 80%;
}

/* Footer */
.footer {
    background: var(--c-dark-midnight-blue);
    color: #fff;
    margin-top: 2.5em;
}

.footer__wrapper {
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 2em 1em 2em;
    width: 80%;
}

.footer__title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.footer__menu a {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-right: 2.5em;
    margin-bottom: 1.3em;
    text-decoration: none;
}

.footer__menu a:hover {
    color: rgba(255, 255, 255, 0.705);
}
/* End footer */

.social__title {
    margin-bottom: 1em;
    margin-top: 1em;
}

.social__icons i {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    margin-right: 1.5em;
    width: 30px;
}

.social__icons i:hover {
    background: #fff;
    color: var(--c-dark-midnight-blue);
}

.copy__text {
    margin-top: 2.5em;
    font-size: .8rem;
    line-height: 1.5em;
    width: 80%;
}

.copy__text a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.copy__text a:hover {
    color: rgba(255, 255, 255, 0.705);
}

@media (min-width: 731px) {
    .info {
        margin: auto;
        padding-right: 0;
        padding-left: 0;
        width: 90%;
    }

    #btn-mobile {
        display: none;
    }

    #mobile__nav {
        align-items: center;
        background: none;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        overflow-y: visible;
        position: static;
        visibility: visible;
    }

    .header__menu {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .header__menu--link {
        margin-bottom: 0;
        margin-right: 1.5em;
    }

    .header__menu--link:last-child {
        margin-right: 0;
    }
}

@media (min-width: 1038px) {
    .header__button {
        width: 15%;
    }

    .info {
        width: 80%;
    }

    .main-container {
        flex-direction: row;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 2.5em;
        width: 80%;
    }

    .main__info {
        align-items: flex-start;
        justify-content: center;
        margin-right: 2em;
    }

    .main__button {
        margin-bottom: 0;
    }

    .title {
        font-size: 2.813rem;
        max-width: 90%;
        margin-bottom: .5em;
        margin: 0;
        text-align: left;
        width: 400px;
    }

    .desc {
        margin-top: 1em;
        text-align: left;
        width: 60%;
    }

    .img {
        height: 240px;
        width: 240px;
    }

    .main__image {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    .about {
        flex-direction: row;
        margin-bottom: 2.5em;
    }

    .about__image img {
        margin-right: 2.5em;
        width: 600px;
    }

    .about__image {
        display: flex;
    }

    .about__info {
        text-align: left;
    }

    .about__title {
        color: var(--c-dark-midnight-blue);
        font-weight: 500;
        font-size: 2.25rem;
        margin-bottom: .5em;
        width: 80%;
    }

    .about__desc {
        width: 80%;
    }

    .flex-container {
        flex-direction: row;
    }

    .services {
        border: 0;
        margin-top: 0;
    }

    .services__title {
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;
    }

    .serv__desc {
        width: 70%;
    }

    .flex-contact {
        flex-direction: column;
    }

    .contact__title {
        text-align: center;
    }

    .contact__form {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact__form input {
        padding: 1em;
        width: 40%;
    }

    .textarea-container {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 81%;
    }

    .input-name,
    .input-email {
        margin-right: 1em;
    }

    .contact__btn {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        width: 20%;
    }

    .footer__wrapper {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .footer__menu {
        align-items: center;
        gap: 2.5em;
        justify-content: center;
    }

    .footer__menu a {
        margin-right: 0;
    }

    .social-media {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social__icons i {
        margin-top: .5em;
    }

    .social__icons i:last-child {
        margin-right: 0;
    }

    .copy__text {
        width: 100%;
        text-align: center;
    }
}


